p {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Baloo Thambi 2', cursive;
  
  color: #075157;
  background: #0D91A1;
  width: 200px;
  
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  
  border: 5px solid #7DCE94;
}